@use "sass:math";

@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");

@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1.5;
	color: #000;
	background-color: #4f80f3;

	// height: 100%;
	// overflow: hidden;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: toRem(1230);
	padding-inline: toRem(15);
	margin-inline: auto;
}

button,
label {
	cursor: pointer;
}

$color-white: #fff;
$color-dark: #1e2832;
$color-black: #000;
$color-red: #ff0000;

//bg
$bgcolor-white: #fff;
$bgcolor-dark: #1E3A8A;
$bgcolor-red: #ff0000;

@media (any-hover: hover) {
	.footer__link:hover,
	.header__nav-link:hover,
	.practice__link:hover .task__title {
		color: #00c8ff;
	}
}

/* -------------header---------------------- */

.header {
	// position: fixed;
	top: 0;
	left: 0;

	z-index: 50;
	width: 100%;

	//.header__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		padding-block: toRem(20);
		align-items: center;
		justify-content: space-between;
		gap: toRem(30);
	}

	//.header__logo
	&__logo {
	border-radius: toRem(20);
		flex: 0 0 toRem(200);
		overflow: hidden;
		box-shadow: 0 toRem(4) toRem(12) rgba(255, 255, 255, 0.3);
		cursor: pointer;
		

		img {
			aspect-ratio: 200/100;
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
	}

	//.header__nav-link
	&__nav-link {
		@media (min-width: toEm(720.98)) {
			font-size: toRem(20);
		}

		font-size: 1.25rem;
		color: #fff;
	}
}

//.header__nav-list
.header__nav-list {
	display: flex;
	flex-wrap: wrap;
	// align-items: center;
	// justify-content: flex-start;
	// row-gap: toRem(3);
	column-gap: toRem(10);
	flex-direction: column;
	flex-grow: 1;
	block-size: toRem(100);

	// max-height: 100vh;
	// overflow-y: auto;

	@media (max-width: toEm(792.98)) {
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		column-gap: toRem(25);
		display: flex;
		flex-wrap: nowrap;
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;

		@media (min-width: toEm(619.98)) {
			inline-size: 50%;
		}

		inline-size: 100%;
		block-size: 100%;
		background-color: $bgcolor-dark;
		opacity: 0.9;
		z-index: 1;
		overflow: auto;
		padding-block-start: toRem(140);
		padding-block-end: toRem(30);
		transition: all 0.5s;
	}

	&::before {
		content: "";
		position: fixed;
		top: 0;
		right: -100%;
		transition: all 0.3s;

		@media (min-width: toEm(619.98)) {
			inline-size: 50%;
		}

		inline-size: 100%;
		block-size: toRem(140);
		background-color: $bgcolor-dark;
		z-index: 3;
		transition: all 0.5s;
	}

	.menu-open & {
		right: 0;
	}

	.menu-open &::before {
		right: 0;
	}
}

.header__icon {
	@media (max-width: toEm(792.98)) {
		& {
			display: block;
			position: relative;
			block-size: toRem(20);
			inline-size: toRem(30);
			flex-shrink: 0;
			z-index: 2;
		}

		&::before,
		&::after,
		& span {
			content: "";
			block-size: 0.1875rem; // 3px
			inline-size: 100%;
			border-radius: 0.5rem; // 8px
			position: absolute;
			left: 0;
			transition: all 0.3s;
			background-color: $color-black;
		}

		&::before {
			top: 0;
		}

		&::after {
			bottom: 0;
		}

		& span {
			top: 50%;
			transform: translate(0px, -50%);
		}

		.menu-open &::before {
			transform: rotate(-45deg);
			top: 50%;
			margin-block-start: -0.0625rem; // -1px
			background-color: $bgcolor-red;
		}

		.menu-open &::after {
			transform: rotate(45deg);
			bottom: 50%;
			margin-block-end: -0.0625rem; // -1px
			background-color: $bgcolor-red;
		}

		.menu-open & span {
			transform: scale(0);
		}

		.menu-open & {
			position: fixed;
			top: toRem(40);
			right: toRem(20);
			z-index: 100;
	  }
	  
	}

	display: none;

	&__item {
		//.nav-header__item
	}
}

.menu-open body {
	overflow: hidden;
}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	//.page__practice
	&__practice {
		padding-block: toRem(30);
	}
}

.practice {
	//.practice__container
	&__container {
		display: flex;
		flex-direction: column;
		//justify-content: center;
		align-items: center;
		gap: toRem(15);
	}

	//.practice__title
	&__title {
		font-size: toRem(22);
		font-weight: 600;
		text-align: center;

		@media (min-width: toEm(720.98)) {
			font-size: toRem(30);
		}
	}

	// .practice__link
	&__link {
	}

	//.practice__task
	&__task {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: toRem(5);
		height: 100%;
		padding: toRem(10);
		border-radius: toRem(10);
		background-color: $bgcolor-dark;
		color: $color-white;
		transition:
			border-color 0.3s,
			box-shadow 0.3s,
			background-color 0.3s;

		&--highlighted {
			background-color: #31366c;
			color: #f9f9f9;
			box-shadow:
				inset 0 -2em 2em rgba(89, 167, 222, 0.918),
				0 0 0 2px white,
				0.3em 0.3em 1em rgba(125, 90, 237, 0.6);
		}

	}

	// .task
	.task {
		//.task__title
		&__title {
			font-size: toRem(18);
			transition: color 0.3s;

			@media (min-width: toEm(720.98)) {
				font-size: toRem(22);
			}
		}

		//.task__question
		&__question {
			color: #4ff3d2;
			font-style: italic;
		}
	}

	//.practice__task-container
	&__tasks-container {
		display: grid;
		grid-template-columns: repeat(5, minmax(toRem(80), 1fr));
		gap: toRem(5);
		padding: toRem(5);
		align-items: stretch;

		@media (max-width: toEm(1200)) {
			& {
				grid-template-columns: repeat(3, minmax(toRem(200), 1fr));
				gap: toRem(15);
			}
		}

		@media (max-width: toEm(768)) {
			& {
				grid-template-columns: repeat(2, minmax(toRem(150), 1fr));
				gap: toRem(20);
			}
		}
		@media (max-width: toEm(480)) {
			& {
				grid-template-columns: 1fr;
				gap: toRem(20);
			}
		}
	}
}

.footer,
.header {
	background-color: $bgcolor-dark;
	color: $color-white;
}

/* ----------------footer-------------------------- */

.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	inline-size: 100%;
	padding: toRem(30) toRem(10);

	//.footer__link
	&__link {
		font-weight: 600;
		line-height: 1.2;
		font-size: toEm(20);
		font-style: italic;
		transition: color 0.3s;
	}
}

// ==================================================
