@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Amstelvar Alpha";
  src: url("../fonts/Amstelvar-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  width: 100%;
  line-height: 1.5;
  color: #000;
  background-color: #4f80f3;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-inline-size: 76.875rem;
  padding-inline: 0.9375rem;
  margin-inline: auto;
}

button,
label {
  cursor: pointer;
}

@media (any-hover: hover) {
  .footer__link:hover,
  .header__nav-link:hover {
    color: #00c8ff;
  }
}
/* ----------header------------------ */
.header {
  top: 0;
  left: 0;
  z-index: 50;
  width: 100%;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-padding-before: 1.25rem;
          padding-block-start: 1.25rem;
  -webkit-padding-after: 1.25rem;
          padding-block-end: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.header__logo {
  border-radius: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 12.5rem;
          flex: 0 0 12.5rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.3);
          box-shadow: 0 0.25rem 0.75rem rgba(255, 255, 255, 0.3);
  cursor: pointer;
}
.header__logo img {
  aspect-ratio: 200/100;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* ---------page------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page {
  padding-block: 1.25rem;
}
.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  padding-inline: 0.625rem;
  padding-block: 1.25rem;
  border-radius: 0.625rem;
}
.task__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}
@media (min-width: 76.875em) {
  .task__container {
    inline-size: 75rem;
  }
}
@media (min-width: 24.5625em) and (max-width: 76.875em) {
  @supports (inline-size: clamp( 18.75rem , -7.6612903226rem  +  107.5268817204vw , 75rem )) {
    .task__container {
      inline-size: clamp( 18.75rem , -7.6612903226rem  +  107.5268817204vw , 75rem );
    }
  }
  @supports not (inline-size: clamp( 18.75rem , -7.6612903226rem  +  107.5268817204vw , 75rem )) {
    .task__container {
      inline-size: calc(18.75rem + 56.25 * (100vw - 24.5625rem) / 52.3125);
    }
  }
}
@media (max-width: 24.5625em) {
  .task__container {
    inline-size: 18.75rem;
  }
}
.task__title {
  font-size: 1.4375rem;
  font-weight: 600;
  text-align: center;
}
@media (min-width: 45.06125em) {
  .task__title {
    font-size: 2.1875rem;
  }
}
.task__list {
  display: grid;
  grid-template-columns: repeat(3, minmax(5.625rem, 1fr));
  gap: 0.3125rem;
  padding: 0.3125rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
@media (max-width: 75em) {
  .task__list {
    grid-template-columns: repeat(3, minmax(12.5rem, 1fr));
    gap: 0.9375rem;
  }
}
@media (max-width: 48em) {
  .task__list {
    grid-template-columns: repeat(2, minmax(11.25rem, 1fr));
  }
}
@media (max-width: 30em) {
  .task__list {
    grid-template-columns: 1fr;
  }
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.3125rem;
  height: 100%;
  padding: 0.625rem;
  border-radius: 0.625rem;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .list__item:hover {
    background-color: #31366c;
    color: #f9f9f9;
    -webkit-box-shadow: inset 0 -2em 2em rgba(89, 167, 222, 0.918), 0 0 0 2px white, 0.3em 0.3em 1em rgba(125, 90, 237, 0.6);
            box-shadow: inset 0 -2em 2em rgba(89, 167, 222, 0.918), 0 0 0 2px white, 0.3em 0.3em 1em rgba(125, 90, 237, 0.6);
  }
}
.list__item .footer__link:hover,
.list__item .header__nav-link:hover {
  color: #ff4500;
}

details {
  color: #000;
  background-color: #f4f4f4;
  padding: 0.625rem;
  border-radius: 0.3125rem;
  border: 0.0625rem solid #ccc;
  font-family: Anonymous Pro, sans-serif;
  max-height: 12.5rem;
  overflow-y: auto;
  cursor: pointer;
}
details input {
  padding: 0.1875rem;
  border: 0.0625rem solid #333;
  border-radius: 0.25rem;
  width: 80%;
  -webkit-margin-after: 0.1875rem;
          margin-block-end: 0.1875rem;
}
details input:focus {
  outline: none;
  border-color: #055d4a;
  -webkit-box-shadow: 0 0 0 0.125rem rgba(0, 123, 255, 0.2);
          box-shadow: 0 0 0 0.125rem rgba(0, 123, 255, 0.2);
}
details summary {
  font-weight: 700;
  -webkit-margin-after: 0.3125rem;
          margin-block-end: 0.3125rem;
}
details pre {
  background: #282c34;
  padding-inline: 0.625rem;
  overflow-x: auto;
  overflow-y: auto;
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
}
.footer,
.header {
  background-color: #1E3A8A;
  color: #fff;
}

#display, #lastVal, #convertRes {
  font-style: italic;
}

#receipt {
  text-align: center;
  font-weight: 700;
}

#dayResult {
  padding: 0.3125rem;
  background-color: #8ac818;
  border-radius: 0.5rem;
  font-weight: 700;
}

/* -------footer--------------------- */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  inline-size: 100%;
  padding: 0.625rem;
}
.footer__link {
  font-weight: 600;
  line-height: 1.2;
  font-style: italic;
  padding: 0.625rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (min-width: 45.06125em) {
  .footer__link {
    font-size: 1.25rem;
    padding: 0.625rem 1.875rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}