@use "sass:math";

@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");

@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1.5;
	color: #000;
	background-color: #4f80f3;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: toRem(1230);
	padding-inline: toRem(5);
	margin-inline: auto;
}

button,
label {
	cursor: pointer;
}

$color-white: #fff;
$color-dark: #1e2832;
$color-black: #000;
$color-red: #ff0000;

//bg
$bgcolor-light: #a3c1e7;
$bgcolor-dark: #1e3a8a;

@media (any-hover: hover) {
	.footer__link:hover,
	.header__nav-link:hover {
		color: #00c8ff;
	}
}

/* ----------header------------------ */

.header {
	// position: fixed;
	top: 0;
	left: 0;

	z-index: 50;
	width: 100%;

	//.header__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		padding-block-start: toRem(20);
		padding-block-end: toRem(20);
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
	}
	//.header__logo
	&__logo {
		border-radius: toRem(20);
		flex: 0 0 toRem(200);
		overflow: hidden;
		box-shadow: 0 toRem(4) toRem(12) rgba(255, 255, 255, 0.3);
		cursor: pointer;

		img {
			aspect-ratio: 200/100;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	padding-block: toRem(20);

	//.page__task
	&__task {
	}
}

.task {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(5);

	padding-inline: toRem(10);
	padding-block: toRem(20);
	border-radius: toRem(10);

	//.task__container
	&__container {
		@include adaptiveValue("inline-size", 1200, 300);
		display: flex;
		flex-direction: column;
		gap: toRem(15);
	}

	//.task__title
	&__title {
		font-size: toRem(23);
		font-weight: 600;
		text-align: center;

		@media (min-width: toEm(720.98)) {
			font-size: toRem(35);
		}
	}

	//.task__list
	&__list {
		display: grid;
		grid-template-columns: repeat(2, minmax(toRem(140), 1fr));
		gap: toRem(10);
		padding: toRem(10);
		align-items: stretch;

		@media (max-width: toEm(768)) {
			& {
				grid-template-columns: 1fr;
			}
		}
	}
}

.list__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: toRem(5);
	height: 100%;
	padding: toRem(10);
	border-radius: toRem(10);
	background-color: $bgcolor-light;
	transition: all 0.4s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #535997;
			color: #f9f9f9;
			box-shadow:
				inset 0 -2em 2em rgba(89, 167, 222, 0.918),
				0 0 0 2px white,
				0.3em 0.3em 1em rgba(125, 90, 237, 0.6);
		}
	}
}

.code-tabs__buttons {
	display: flex;
	flex-direction: column;
	gap: toRem(10);
	margin-block-end: toRem(15);

	button {
		width: toRem(280);
		padding: toRem(10) toRem(15);
		background: #31366c;
		color: white;
		border: none;
		border-radius: toRem(5);
		cursor: pointer;

		@media (max-width: toEm(768)) {
			width: toRem(250);
		}

		@media (any-hover: hover) {
			&:hover {
				background: #4a4f9c;
			}
		}
	}
}

.code-tabs__block {
	width: clamp(toRem(280), 100%, toRem(500));
	white-space: pre-wrap;
	word-break: break-word;
	background: #282c34;
	color: inherit;
	padding: toRem(15);
	border-radius: toRem(5);
	overflow-x: auto;

}

pre {
	max-height: 0;
	opacity: 0;
	overflow-y: auto;
	white-space: pre;
	transition:
		max-height 0.6s ease,
		opacity 0.3s ease;
}

pre.visible {
	max-height: toRem(1000);
	opacity: 1;
}

.footer,
.header {
	background-color: $bgcolor-dark;
	color: $color-white;
}

/* -------footer--------------------- */

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: toRem(15);
	inline-size: 100%;
	padding: toRem(10);

	//.footer__link
	&__link {
		font-weight: 600;
		line-height: 1.2;
		font-style: italic;
		padding: toRem(10);
		transition: color 0.3s;
		@media (min-width: toEm(720.98)) {
			font-size: toRem(20);
			padding: toRem(10) toRem(30);
			justify-content: space-around;
		}
	}
}

// ==================================================
