@use "sass:math";

@import "_fonts.scss";

@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro:regular,italic,700&display=swap");

@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600&display=swap");

@import "_reset.scss";

@import "_mixins.scss";

// Налаштування адаптивної сітки ===============================================================================================================================================================================================================================================================================================
// Мінімальна ширина сторінки
$minWidth: 393;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1200;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// ==========================================================

body {
	font-family: "Open Sans", sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1.5;
	color: #000;
	background-color: #4f80f3;
}

.wrapper {
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper > main {
	flex-grow: 1;
}

[class*="__container"] {
	max-inline-size: toRem(1230);
	padding-inline: toRem(15);
	margin-inline: auto;
}

button,
label {
	cursor: pointer;
}

$color-white: #fff;
$color-dark: #1e2832;
$color-black: #000;
$color-red: #ff0000;

//bg
$bgcolor-white: #fff;
$bgcolor-dark: #1E3A8A;

@media (any-hover: hover) {
	.footer__link:hover,
	.header__nav-link:hover {
		color: #00c8ff;
	}
}

/* ----------header------------------ */

.header {
	// position: fixed;
	top: 0;
	left: 0;

	z-index: 50;
	width: 100%;

	//.header__container
	&__container {
		display: flex;
		flex-wrap: wrap;
		padding-block-start: toRem(20);
		padding-block-end: toRem(20);
		align-items: center;
		justify-content: space-between;
		gap: toRem(20);
	}
	//.header__logo
	&__logo {
	border-radius: toRem(20);
		flex: 0 0 toRem(200);
		overflow: hidden;
		box-shadow: 0 toRem(4) toRem(12) rgba(255, 255, 255, 0.3);
		cursor: pointer;
		

		img {
			aspect-ratio: 200/100;
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
	}
}

/* ---------page------------ */

.main {
	flex-grow: 1;
}

.page {
	padding-block: toRem(20);

	//.page__task
	&__task {
	}
}

.task {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: toRem(5);

	padding-inline: toRem(10);
	padding-block: toRem(20);
	border-radius: toRem(10);

	//.task__container
	&__container {
		@include adaptiveValue("inline-size", 1200, 300);
		display: flex;
		flex-direction: column;
		// justify-content: center;
		// align-items: center;
		gap: toRem(15);
	}

	//.task__title
	&__title {
		font-size: toRem(23);
		font-weight: 600;
		text-align: center;

		@media (min-width: toEm(720.98)) {
			font-size: toRem(35);
		}
	}

	//.task__text
	&__text {
		// @media (min-width: toEm(720.98)) {
		// 	font-size: toRem(20);
		// }
	}

	//.task__list
	&__list {
		display: grid;
		grid-template-columns: repeat(3, minmax(toRem(90), 1fr));
		gap: toRem(5);
		padding: toRem(5);
		align-items: stretch;

		@media (max-width: toEm(1200)) {
			& {
				grid-template-columns: repeat(3, minmax(toRem(200), 1fr));
				gap: toRem(15);
			}
		}

		@media (max-width: toEm(768)) {
			& {
				grid-template-columns: repeat(2, minmax(toRem(180), 1fr));
				// gap: toRem(20);
			}
		}
		@media (max-width: toEm(480)) {
			& {
				grid-template-columns: 1fr;
				// gap: toRem(20);
			}
		}
	}
}

.list__item {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: toRem(5);
	height: 100%;
	padding: toRem(10);
	border-radius: toRem(10);
	background-color: $bgcolor-white;
	// color: $color-white;
	transition:
		all 0.3s;
	@media (any-hover: hover) {
		&:hover {
			// border: toRem(3) solid #fc4300;
			background-color: #31366c;
			color: #f9f9f9;
			box-shadow:
				inset 0 -2em 2em rgba(89, 167, 222, 0.918),
				0 0 0 2px white,
				0.3em 0.3em 1em rgba(125, 90, 237, 0.6);
		}
	}
	.footer__link:hover,
	.header__nav-link:hover {
		color: #ff4500;
	}
}

details {
	color: #000;
	background-color: #f4f4f4;
	padding: toRem(10);
	border-radius: toRem(5);
	border: toRem(1) solid #ccc;
	font-family:
		Anonymous Pro,
		sans-serif;
	max-height: toRem(200);
	overflow-y: auto;
	cursor: pointer;

	input {
		padding: toRem(3);
		border: toRem(1) solid #333;
		border-radius: toRem(4);
		width: 80%;
		margin-block-end: toRem(3);
		&:focus {
			outline: none;
			border-color: #055d4a;
			box-shadow: 0 0 0 toRem(2) rgba(0, 123, 255, 0.2);
		}
	}


	summary {
		font-weight: 700;
		margin-block-end: toRem(5);
	}

	pre {
	background: #282c34;
		padding-inline: toRem(10);
		overflow-x: auto;
		overflow-y: auto;
		max-width: 100%;
		white-space: pre-wrap;
		word-break: break-word;
	}

	code {
	}
}
.footer,
.header {
	background-color: $bgcolor-dark;
	color: $color-white;
}
#display,#lastVal,#convertRes {
	// color: #000000;
	font-style: italic;
}
#receipt{
	text-align: center;
	font-weight: 700;
}
#dayResult{
	padding: toRem(5);
	background-color: #8ac818;
	border-radius: toRem(8);
	font-weight: 700;

}
/* -------footer--------------------- */

.footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: toRem(15);
	inline-size: 100%;
	padding: toRem(10);

	//.footer__link
	&__link {
		font-weight: 600;
		line-height: 1.2;
		font-style: italic;
		padding: toRem(10);
		transition: color 0.3s;
		@media (min-width: toEm(720.98)) {
			font-size: toRem(20);
			padding: toRem(10) toRem(30);
			justify-content: space-around;
		}
	}
}

// ==================================================
